:root {
  font-family: 'Oswald', sans-serif;
  --body: #f1f3f8;
  --font: #393b44;
  --border: #666;
  --header: #d6e0f0;
  --title-font: #282a33;
  --book-card: #e0e2e7;
  --btn-green: #abf79c;
  --btn-green-hover: #9ae68b;
  --btn-green-active: #89d57a;
  --btn-red: #da9797;
  --btn-red-hover: #c98686;
  --btn-red-active: #b87575;
  --btn-light-green: #d3ffcd;
  --btn-light-green-hover: #c2eebc;
  --btn-light-green-active: #b1ddab;
  --btn-light-red: #ffe8e8;
  --btn-light-red-hover: #eed7d7;
  --btn-light-red-active: #ddc6c6;
  --modal: #d6e0f0;
  --modal-border: #282a33; }
